<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>AWS SAML | Login complete</title>
    <script src="index.js" async></script>
    <link rel="icon" href="favicon.ico"/>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <span class="left"><a href="https://github.com/joshdk/aws-saml" rel="noopener noreferrer" target="_blank">AWS SAML</a></span>
    </header>
    <div class="content">
        <div>
            <p>Login complete, you may now close your browser.</p>
        </div>
    </div>
    <footer>
        <span class="left"><a href="https://github.com/joshdk/aws-saml" rel="noopener noreferrer" target="_blank">github.com/joshdk/aws-saml</a></span>
        <span class="right"></a>{{.Version}} ({{.SHA}}) built on {{.Date}}</span>
    </footer>
</body>
</html>
